[submodule "server-tools"]
	path = server-tools
	url = https://github.com/jesus-alfonso-moreno/server-tools.git
[submodule "web"]
	path = web
	url = https://github.com/jesus-alfonso-moreno/web.git
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/jesus-alfonso-moreno/reporting-engine.git
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/jesus-alfonso-moreno/account-financial-tools.git
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/jesus-alfonso-moreno/sale-workflow.git
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-workflow.git
[submodule "product-atribute"]
	path = product-atribute
	url = https://github.com/jesus-alfonso-moreno/product-attribute.git
[submodule "manufacture"]
	path = manufacture
	url = https://github.com/jesus-alfonso-moreno/manufacture.git
[submodule "crm"]
	path = crm
	url = https://github.com/jesus-alfonso-moreno/crm.git
[submodule "payroll"]
	path = payroll
	url = https://github.com/jesus-alfonso-moreno/payroll.git
[submodule "stock-logistics-orderpoint"]
	path = stock-logistics-orderpoint
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-orderpoint.git
[submodule "stock-logistics-tracking"]
	path = stock-logistics-tracking
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-tracking.git
[submodule "stock-logistics-reservation"]
	path = stock-logistics-reservation
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-reservation.git
[submodule "server-backend"]
	path = server-backend
	url = https://github.com/jesus-alfonso-moreno/server-backend.git
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/jesus-alfonso-moreno/server-ux.git
[submodule "account-reconcile"]
	path = account-reconcile
	url = https://github.com/jesus-alfonso-moreno/account-reconcile.git
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/jesus-alfonso-moreno/account-payment.git
[submodule "credit-control"]
	path = credit-control
	url = https://github.com/jesus-alfonso-moreno/credit-control.git
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/jesus-alfonso-moreno/account-invoicing.git
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = https://github.com/jesus-alfonso-moreno/bank-statement-import.git
[submodule "mis-builder"]
	path = mis-builder
	url = https://github.com/jesus-alfonso-moreno/mis-builder.git
[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/jesus-alfonso-moreno/account-analytic.git
[submodule "timesheet"]
	path = timesheet
	url = https://github.com/jesus-alfonso-moreno/timesheet.git
[submodule "project"]
	path = project
	url = https://github.com/jesus-alfonso-moreno/project.git
[submodule "stock-logistics-reporting"]
	path = stock-logistics-reporting
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-reporting.git
[submodule "py3o.template"]
	path = py3o.template
	url = https://github.com/jesus-alfonso-moreno/py3o.template.git
[submodule "pms"]
	path = pms
	url = https://github.com/jesus-alfonso-moreno/pms.git
[submodule "survey"]
	path = survey
	url = https://github.com/jesus-alfonso-moreno/survey.git
[submodule "server-auth"]
	path = server-auth
	url = https://github.com/jesus-alfonso-moreno/server-auth.git
[submodule "stock-weighing"]
	path = stock-weighing
	url = https://github.com/jesus-alfonso-moreno/stock-weighing.git
[submodule "dms"]
	path = dms
	url = https://github.com/jesus-alfonso-moreno/dms.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/jesus-alfonso-moreno/calendar.git
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/jesus-alfonso-moreno/partner-contact.git
[submodule "contract"]
	path = contract
	url = https://github.com/jesus-alfonso-moreno/contract.git
[submodule "multi-company"]
	path = multi-company
	url = https://github.com/jesus-alfonso-moreno/multi-company.git
[submodule "product-variant"]
	path = product-variant
	url = https://github.com/jesus-alfonso-moreno/product-variant.git
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/jesus-alfonso-moreno/bank-payment.git
[submodule "helpdesk"]
	path = helpdesk
	url = https://github.com/jesus-alfonso-moreno/helpdesk.git
[submodule "field-service"]
	path = field-service
	url = https://github.com/jesus-alfonso-moreno/field-service.git
[submodule "stock-logistics-availability"]
	path = stock-logistics-availability
	url = https://github.com/jesus-alfonso-moreno/stock-logistics-availability.git
[submodule "mail"]
	path = mail
	url = https://github.com/jesus-alfonso-moreno/mail.git
[submodule "hr-expense"]
	path = hr-expense
	url = https://github.com/jesus-alfonso-moreno/hr-expense.git
[submodule "management-system"]
	path = management-system
	url = https://github.com/jesus-alfonso-moreno/management-system.git
[submodule "maintenance"]
	path = maintenance
	url = https://github.com/jesus-alfonso-moreno/maintenance.git
[submodule "hr"]
	path = hr
	url = https://github.com/jesus-alfonso-moreno/hr.git
[submodule "purchase-reporting"]
	path = purchase-reporting
	url = https://github.com/jesus-alfonso-moreno/purchase-reporting.git
[submodule "hr-holidays"]
	path = hr-holidays
	url = https://github.com/jesus-alfonso-moreno/hr-holidays.git
[submodule "manufacture-reporting"]
	path = manufacture-reporting
	url = https://github.com/jesus-alfonso-moreno/manufacture-reporting.git
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/jesus-alfonso-moreno/report-print-send.git
[submodule "bank-payment-alternative"]
	path = bank-payment-alternative
	url = https://github.com/jesus-alfonso-moreno/bank-payment-alternative.git
[submodule "geospatial"]
	path = geospatial
	url = https://github.com/jesus-alfonso-moreno/geospatial.git
[submodule "margin-analysis"]
	path = margin-analysis
	url = https://github.com/jesus-alfonso-moreno/margin-analysis.git
[submodule "storage"]
	path = storage
	url = https://github.com/jesus-alfonso-moreno/storage.git
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/jesus-alfonso-moreno/community-data-files.git
[submodule "mass-mailing"]
	path = mass-mailing
	url = https://github.com/jesus-alfonso-moreno/mass-mailing.git
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/jesus-alfonso-moreno/account-closing.git
